{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Qendrim Memeti - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Qendrim Memeti."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.jpg' %}" alt="Qendrim Memeti" />
		</div>
		  
		<div id="name">
			<h1 class="quickFade delayTwo">Qendrim Memeti</h1>
			<h2 class="quickFade delayThree">Software Developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:qendrim.memeti222@gmail.com" target="_blank">qendrim.memeti222@gmail.com</a></li>
				<li>m: +389 77400199</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>My name is Qëndrim Memeti.
						I am a computer sciences graduate, I have entry to mid level of experience in my
						field.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Courses</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>100 Days of Code: The Complete Python Pro Bootcamp for 2022</h2>
					<p class="subDetails"><a href="https://www.udemy.com/course/100-days-of-code/" target="_blank"> Udemy</a></p>
				</article>
				
				<article>
					<h2>The Complete 2022 Web Development Bootcamp</h2>
					<p class="subDetails"><a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/" target="_blank"> Udemy</a></p>
				</article>

				<article>
					<h2>Implementing and Administering Cisco Solutions (CCNA)</h2>
					<p class="subDetails"><a href="https://semosedu.com.mk/Kursevi.aspx?IdMenu=1459&IdLanguage=1&IdRoot=2&IdCity=1" target="_blank"> Semos</a></p>
				</article>
				
				<article>
					<h2>AZ-800 Administering Windows Server Hybrid Core Infrastructure</h2>
					<p class="subDetails"><a href="https://semosedu.com.mk/Kursevi.aspx?IdMenu=2685&IdLanguage=2&IdRoot=5&IdCity=1" target="_blank"> Semos</a></p>
				</article>

				<article>
					<h2>AWS Cloud Practitioner Essentials, Architecting on AWS</h2>
					<p class="subDetails"><a href="https://semosedu.com.mk/Kursevi.aspx?IdMenu=2088&IdLanguage=2&IdRoot=5&IdCity=1" target="_blank"> Semos</a></p>
				</article>

				<article>
					<h2>Responsive Web Design </h2>
					<p class="subDetails"><a href="https://www.freecodecamp.org/certification/fccb6f20355-6f25-4a7e-882b-40ea476713d5/responsive-web-design" target="_blank"> freecodecamp</a></p>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python</li>
					<li>SQL Server</li>
					<li>JavaScript</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>React</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Mother Teresa University - Skopje</h2>
					<p class="subDetails">2017 - 2021</p>
					<p>Computer Science Graduate</p>
				</article>
				
				<article>
					<h2>Sami Frasheri High School - Kumanovo</h2>
					<p class="subDetails">2014 - 2017</p>
					<p>High School Graduate</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>